<!-- Nav bar -->
<nav class="navbar bg-dark navbar-dark navbar-expand-sm " style="background: linear-gradient(to right, #180741, black);">
  <div class="container-fluid">
    <!--container of navbar-->
    <h2 class="navbar-brand m-0 p-0">
      <a class="nav-item nav-link text-white" [routerLink]="['/product']">Food Mart</a>
    </h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myTogglernav" aria-controls="myTogglernav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--for collapsing-->
    <div class="collapse navbar-collapse" id="myTogglernav">
      <div class="navbar-nav ml-auto">
        <a class="nav-item nav-link " [routerLink]="['/product']">Product</a>
        <a class="nav-item nav-link " [routerLink]="['/about']">About Us</a>
        <a class="nav-item nav-link " [routerLink]="['/contact']">Contact Us</a>
      </div>
      <!-- navbar-->
    </div>
    <!--collapse-->
  </div>
  <!--container-->
</nav>
<!--nav-->

<router-outlet></router-outlet>