<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<div class="container py-3">
    <div class="card ">
      <div class="row">
        <div class="col-sm-5">
          <img class="d-block w-100" src="https://images.pexels.com/photos/434213/pexels-photo-434213.jpeg?auto=compress&cs=tinysrgb&h=350" alt="">
        </div>
        <div class="col-sm-7">
          <div class="card-block">
            <!--<h4 class="card-title">Small card</h4> -->
            <p><b>BPT coffee Works</b></p>
            
            <p><i class="fa fa-building" aria-hidden="true"></i>&nbsp; Indraprastha Coffee works PVT LTD</p>
            <p><i class="fas fa-map-marker-alt"></i>&nbsp; Bangalore, India</p>
            <p><i class="fa fa-file" aria-hidden="true"></i>&nbsp; World's Top coffee Selling Company, established since 1994</p>
            <br>
            <a href="tel:+919538726686" class="btn btn-success btn-sm ">Call Now</a> &nbsp; &nbsp;
            <a href="mailto:sureshas1989@gmail.com" class="btn btn-primary btn-sm ">Send Enquiry</a>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="container py-3">
    <div class="card ">
      <div class="row">
        <div class="col-sm-5">
          <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRcomTDXnSwaJ5mWv5nh9qPDJvIAZ5p2Kw1B2L7HyrUPH6QLDT" alt="">
        </div>
        <div class="col-sm-7">
          <div class="card-block">
            <!--<h4 class="card-title">Small card</h4> -->
            <p><b>BPT Rice and Grains</b></p>
            
            <p><i class="fa fa-building" aria-hidden="true"></i>&nbsp; Anjana Rice and Grains PVT LTD</p>
            <p><i class="fas fa-map-marker-alt"></i>&nbsp; Bangalore, India</p>
            <p><i class="fa fa-file" aria-hidden="true"></i>&nbsp; 
              A mixture of brown, white, and red indica rice, also containing wild rice, Zizania species
              Rice is the seed of the grass species Oryza sativa (Asian rice).</p>
            <br>
            <a href="tel:+919538726686" class="btn btn-success btn-sm ">Call Now</a> &nbsp; &nbsp;
            <a href="mailto:sureshas1989@gmail.com" class="btn btn-primary btn-sm ">Send Enquiry</a>
          </div>
        </div>
      </div>
    </div>
  </div>
